# Created by https://www.gitignore.io/api/VisualStudioCode
# Edit at https://www.gitignore.io/?templates=VisualStudioCode

### VisualStudioCode ###
.vscode/*

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/VisualStudioCode
